// @import '../../styles/config';

$bg-color: #0a0a0a;

@mixin position-bg {
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
}

.hero {
	height: 100vh;
	position: relative;
	background-color: #0a0a0a;
	z-index: 1;
}

.hero-line {
	@include position-bg;
	z-index: -1;
}

.noise-bg {
	@include position-bg;
	z-index: 0;
	mix-blend-mode: darken;
	opacity: 0.2;

	// background-repeat: repeat;
	// background-size: 10%;
}
