@import '../../styles/config';

.hero {
	height: 100vh;
	min-height: 790px;
	position: relative;
	background-color: $bg-color;
	z-index: 2;
	color: $white;
	text-align: center;
	padding: 20px 0 0;

	@include mobile {
		padding-top: 70px;
	}

	.container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	&::before,
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 349px;

		position: absolute;
		left: 0;
		z-index: -1;
	}

	&::before {
		top: 0;
		background: linear-gradient(0, rgba($bg-color, 0) 56%, $bg-color 100%);
	}

	&:after {
		bottom: 0;
		background: linear-gradient(180deg, rgba($bg-color, 0) 56%, $bg-color 100%);
	}
}

.hero-line {
	@include position-bg;
	opacity: 0.65;
	z-index: -3;
}

.noise-bg {
	@include position-bg;
	z-index: -2;
	mix-blend-mode: darken;
	opacity: 0.2;
	background: url('../../assets/media/images/noise.jpeg') repeat 10%;
}

.hero {
	&-content {
		width: min(850px, 100%);
		margin-inline: auto;

		@include tablet {
			width: min(450px, 100%);
		}
	}

	&-desc {
		width: min(355px, 100%);
		margin-inline: auto;
		color: rgba($white, 0.6);
		margin-top: 45px;
		font-family: $font-MediumDisp;

		span {
			display: block;
		}
	}

	&-btn {
		margin-top: 40px;
	}
}

.hero-partners {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 166px);
	justify-content: end;
	gap: 20px;
	text-transform: uppercase;
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 12px;
	line-height: 110%;

	@include mobile {
		position: static;
		margin-top: 45px;
		justify-content: center;
	}
}

.partners-block {
	position: relative;
	width: 166px;
	height: 175px;
	border-radius: 8px;
	z-index: 1;
	display: grid;
	place-content: end center;
	padding-bottom: 32px;
	transition: 0.3s;

	&:hover {
		opacity: 0.8;
	}

	&__shape {
		width: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&__title {
		max-width: 112px;
		display: inline-block;

		span {
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				margin-right: 3px;
			}
		}
	}
}
