@import '../../styles/config';
@import './MobMenu.scss';

.header-logo {
	position: relative;
	z-index: 101;
}

.header {
	padding: 20px 0;
	position: fixed;
	width: 100%;
	top: 1px;
	left: 0;
	z-index: 100;
	color: $white;
	font-size: 12px;
	text-transform: uppercase;

	&--scrolled {
		box-shadow: 0 0 10px rgba($black, 0.93);
		background-color: rgba(0, 0, 0, 0.93);
		backdrop-filter: blur(16px);
	}

	&.hidden-items {
		.header-nav,
		.header-link {
			color: rgba($white, 0.4);
		}
	}

	a {
		transition: 0.3s;

		&:hover {
			color: $white;
		}
	}

	&-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-nav {
		@include mobile {
			transform: translateX(110%);
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			padding-top: 100px;
			transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
			z-index: 100;

			~ .header-link {
				display: none;
			}
		}

		ul:not(.submenu) {
			display: flex;

			@include mobile {
				flex-direction: column;
			}

			> li {
				a {
					padding: 4px 10px;
				}

				&.active {
					.submenu {
						transform: translateX(-50%) translateY(0);
						z-index: -10;
					}

					.nav-submenu {
						color: $white;

						&::after {
							transform: rotate(45deg) scale(-1);
							margin-bottom: -1px;

							@include mobile {
								margin-bottom: 0;
								transform: rotate(-45deg) translate(3px, 3px);
							}
						}

						&::before {
							transform: translateY(0);
						}
					}
				}

				&.hidden {
					.nav-submenu {
						color: rgba($white, 0.4);
					}
				}
			}
		}
	}

	&-link {
		&:hover::after {
			transform: rotate(-45deg) translate(3px, 3px);
		}

		&::after {
			@include arrowRight;
		}
	}

	&.menuOpen {
		transition: 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.4s;

		.header-nav {
			transform: translateX(0);
			transition: 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
		}

		.bg-menu {
			width: 30px;
			height: 30px;
			transform: scale(120);
			background-color: rgba(0, 0, 0, 1);
		}
	}
}

.nav-submenu {
	&::after {
		@include arrow;
		transform: rotate(45deg);
		margin-bottom: 3px;

		@include mobile {
			margin-bottom: 0;
			@include arrowRight;
		}
	}

	&::before {
		content: '';
		display: block;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.93);
		backdrop-filter: blur(16px);
		position: fixed;
		left: 0;
		top: 0;
		z-index: -11;

		transform: translateY(-102%);
		transition: transform 0.6s;

		@include mobile {
			display: none;
		}
	}
}

.submenu {
	color: $white;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-top: 64px;
	padding-bottom: 50px;
	gap: 30px 10px;
	height: 100vh;
	position: absolute;
	left: 50%;
	top: 0;
	z-index: -12;
	overflow-y: auto;

	transform: translateX(-50%) translateY(-102%);
	transition: transform 0.6s;

	@include mobile {
		display: none;
	}

	&__title {
		margin-right: auto;
	}

	&-item {
		&:hover {
			.submenu-item__preview {
				img,
				> span {
					width: 100%;
					height: 100%;
				}
			}
		}

		span {
			display: flex;
		}

		&__title {
			margin-top: 10px;
		}

		&__preview {
			width: 343px;
			height: 233px;
			border-radius: 8px;
			background: linear-gradient(
				135deg,
				rgba(0, 0, 0, 1) 0%,
				rgba(0, 0, 0, 0.5) 30%,
				rgba(206, 255, 0, 0.6) 100%
			);
			overflow: hidden;
			justify-content: flex-end;
			align-items: flex-end;

			img,
			> span {
				width: calc(100% - 64px);
				height: calc(100% - 64px);
				object-fit: cover;
				border-top-left-radius: 6px;
				background-color: #d9d9d9;
				color: black;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				transition: 0.4s;
			}
		}
	}
}
