@import '../../styles/config';

.labels {
	background-color: $bg-color;
	// background-color: green;
	position: relative;
	padding: 120px 0;

	// &:before {
	// 	@include position-bg;
	// 	content: '';
	// 	display: block;
	// 	mix-blend-mode: darken;
	// 	opacity: 0.2;
	// 	background: url('../../assets/media/images/noise.jpeg') repeat 10%;
	// }

	&-content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1px;
		position: relative;
		margin: -1px;
		overflow: hidden;

		@include mobile {
			grid-template-columns: repeat(2, 1fr);
		}

		&::before,
		&::after {
			content: '';
			display: block;
			@include position-bg;

			// opacity: 0.2;
			// z-index: -1;
		}

		&::before {
			background-image: radial-gradient(
				circle at center,
				#daff45 0%,
				#fd712a 25%,
				#ff00b4 50%,
				#2b00f9 75%,
				#000000 100%
			);
		}

		&::after {
			opacity: 0.2;
			mix-blend-mode: darken;
			background: url('../../assets/media/images/noise.jpeg') repeat 10%;
		}
	}

	&-block {
		background-color: $bg-color;
		aspect-ratio: 1 / 1;
		position: relative;
		display: grid;
		place-content: center;
		z-index: 1;
		padding: 30px;

		@include mobile {
			padding: 20px;
		}

		// Quick border color effect on hover
		outline: 1px solid rgba($black, 0.6);
		transition: 0.4s;

		&:hover {
			outline: 1px solid transparent;

			// &::after {
			// 	background-color: transparent;
			// }
		}

		// test hover effect
		// &::after {
		// 	content: '';
		// 	display: block;
		// 	width: calc(100% + 2px);
		// 	height: calc(100% + 2px);
		// 	position: absolute;
		// 	top: -1px;
		// 	left: -1px;
		// 	background-color: rgba($black, 0.6);
		// 	z-index: -1;
		// }

		&:before {
			@include position-bg;
			content: '';
			display: block;
			mix-blend-mode: darken;
			opacity: 0.2;
			background: url('../../assets/media/images/noise.jpeg') repeat 10%;
			z-index: -1;
		}

		svg {
			transition: 0.4s;
		}

		&.hidden {
			svg {
				opacity: 0.2;
			}
		}
	}
}
